/* --- About.module.css --- */

.aboutSection {
  background: var(--bg);
  padding: 100px 5vw;
}

/* Global Container jaisa kaam karega */
.container {
  max-width: 1080px;
  margin: 0 auto;
}

.aboutGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: start;
}


@media (max-width: 768px) {
  .aboutSection {
    padding: 60px 5vw;
  }

  .aboutGrid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
